

body {
    width: 100%;

}

a{
    color:black;
}

#heading {
    font-family: 'Anton', sans-serif;
}

.body-font {
    font-family: 'Abel', sans-serif;
}

#codeup-design {
    font-size: 2em;
}

.big-circle{
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 28px;
}

#red-circle{
    background-color: #e6563b;
    height: 120px;
    width: 120px;
    border: 7px solid white;
    color:white;
    font-family: 'Anton', sans-serif;

}

#orange-circle{
    background-color: #eb9d3a;
    height: 120px;
    width: 120px;
    border: 7px solid white;
    color:white;
    font-family: 'Anton', sans-serif;
}

#green-circle{
    background-color: #7cb06c;
    height: 120px;
    width: 120px;
    border: 7px solid white;
    color:white;
    font-family: 'Anton', sans-serif;
}

#blue-circle{
    background-color: #00aba9;
    height: 120px;
    width: 120px;
    border: 7px solid white;
    color:white;
    font-family: 'Anton', sans-serif;
}

.row{
    height:30px;
    background-color:#f0f0f0;
    flex-wrap: nowrap;

}

.row-2{
    height: 60px;
    background-color: white;
}

.logo{
    height: 105px;
    width: 105px;
}

.row-4{
    height: 50px;
}

.row-5 {
    font-size: 0.75em;
}

.row-7 {
    height: 100px;

}

h1 #heading {

}


.row-8{
    height: 50px;
}

.row-11{
    height: 130px;
}

.row-12{
    height: 130px;
}

.row-17{
    height: 500px;
    display:flex;

    flex-direction:column;
}
.apple-ipad{
    border: 8px solid #e6e6e6;
    width: 95%;
    border-radius: 5px;
    margin: 0 auto;
}

#apple-ipad {
    background-color: #e6e6e6;
    height: auto;
    width: 200px;
}

#feature-text{
/*padding-right: 100px;*/
    margin: auto;

}

.bottom-circle{
    display:inline-flex;
    flex-wrap: nowrap;
    /*display:flex;*/
    /*justify-content: space-around;*/

}
.small-circle {
    display:inline-flex;
    flex-wrap:nowrap;
    margin-left: auto;
    align-items:center;
    justify-content: center;
    width: 18px;
    height: 18px;
    font-family: 'Anton', sans-serif;
}

.colored-circles{
    display: flex;
    justify-content: space-around;
}

.circles-move {
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*align-items: flex-end;*/
}


#small-red-circle {
    background-color: #e6563b;
    font-size: 10px;

}

#small-yellow-circle{
    background-color:#eb9d3a;
    font-size:10px;

}

#small-green-circle{
    background-color: #7cb06c;
    font-size:10px;
}

#small-blue-circle{
    background-color: #00aba9;
    font-size:10px;


}


